<main class="container">

  <hr>
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-1">Roman Yanush</h1>
      <p class="fs-4 text-body-secondary">Angular Developer, Full stack developer</p>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <curriculum-vitae-content-block title="Contacts">
        <ng-container *ngFor="let contact of cv.contacts">
          <div>
            <a class="link-dark" [href]="contact.url">
              <i *ngIf="contact.icon" class="{{ contact.icon }} me-2"></i>
              <span class="text-break">{{ contact.title }}</span>
            </a>
          </div>
        </ng-container>
      </curriculum-vitae-content-block>
      <hr>
      <curriculum-vitae-content-block title="Technical skills">
        <ng-container *ngFor="let techSkill of cv.technicalSkills">
          <curriculum-vitae-titled-list [title]="techSkill.type"
                                        [items]="techSkill.items"></curriculum-vitae-titled-list>
        </ng-container>
      </curriculum-vitae-content-block>
      <!--      <hr>-->
    </div>
    <div class="col-sm-12 col-md-8">


      <curriculum-vitae-content-block title="About me">
        <p class="">{{ cv.aboutMe }}</p>
      </curriculum-vitae-content-block>
      <hr>

      <curriculum-vitae-content-block title="Work experience">
        <curriculum-vitae-work-experience [workExperience]="cv.workExperience"></curriculum-vitae-work-experience>
      </curriculum-vitae-content-block>
      <hr>
      <curriculum-vitae-content-block title="Education">
        <ng-container *ngFor="let item of cv.education">
          <div class="row mb-3">
            <div class="col-sm-12 col-md-4">
              <curriculum-vitae-dates-block [dates]="[item.start, item.end]"></curriculum-vitae-dates-block>
            </div>
            <div class="col-sm-12 col-md-8">
              <p class="m-0 fw-bold">{{ item.specialty }}</p>
              <small>{{ item.establishment }}</small>
            </div>
          </div>
        </ng-container>
      </curriculum-vitae-content-block>
      <hr>
      <curriculum-vitae-content-block title="Languages">
        <div class="row">
          <div class="col">English - B1</div>
          <div class="col">Ukrainian - Native</div>
        </div>
      </curriculum-vitae-content-block>
      <hr>
      <curriculum-vitae-content-block title="Achievements"></curriculum-vitae-content-block>
      <hr>
    </div>
  </div>
</main>

<!--<button (click)="downloadPdf()">Download</button>-->
