<div class="alert alert-secondary printable" role="alert">
  Online version at <a
  href="https://romko775.github.io/curriculum-vitae/">https://romko775.github.io/curriculum-vitae/</a>
</div>
<main class="container">
  <hr>
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-1">Roman Yanush</h1>
      <p class="fs-4 text-body-secondary">Angular Developer, Full stack developer</p>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12 col-md-4">
      <curriculum-vitae-content-block title="Contacts">
        @for (contact of cv.contacts; track contact.title) {
          <div>
            <a class="link-dark" [href]="contact.url" target="_blank">
              <i *ngIf="contact.icon" class="{{ contact.icon }} me-2"></i>
              <span class="text-break">{{ contact.title }}</span>
            </a>
          </div>
        }
      </curriculum-vitae-content-block>
      <hr>
      <curriculum-vitae-content-block title="Technical skills">
        @for (techSkill of cv.technicalSkills; track techSkill.items) {
          <curriculum-vitae-titled-list [title]="techSkill.type"
                                        [items]="techSkill.items"></curriculum-vitae-titled-list>
        }
      </curriculum-vitae-content-block>
      <!--      <hr>-->
    </div>
    <div class="col-sm-12 col-md-8">


      <hr class="printable">
      <curriculum-vitae-content-block title="About me">
        <p class="">{{ cv.aboutMe }}</p>
      </curriculum-vitae-content-block>
      <hr>

      <curriculum-vitae-content-block title="Work experience">
        <curriculum-vitae-work-experience [workExperience]="cv.workExperience"></curriculum-vitae-work-experience>
      </curriculum-vitae-content-block>
      <hr>
      <curriculum-vitae-content-block title="Education">
        @for (item of cv.education; track item.specialty) {
          <div class="row mb-3">
            <div class="col-sm-12 col-md-4">
              <curriculum-vitae-dates-block [dates]="[item.start, item.end]"></curriculum-vitae-dates-block>
            </div>
            <div class="col-sm-12 col-md-8">
              <p class="m-0 fw-bold">{{ item.specialty }}</p>
              <small>{{ item.establishment }}</small>
            </div>
          </div>
        }
      </curriculum-vitae-content-block>
      <hr>
      <curriculum-vitae-content-block title="Languages">
        <p>English - B1</p>
        <p>Ukrainian - Native</p>
      </curriculum-vitae-content-block>
      <hr>
      <curriculum-vitae-content-block title="Certifications">
        @for (certification of cv.certifications; track certification.id) {
          <div class="row mb-3">
            <div class="col-sm-12 col-md-4">
              <span class="d-block mb-2">{{ certification.issueDate | date: midDateFormat }}</span>
            </div>
            <div class="col-sm-12 col-md-8">
              <a class="text-decoration-none text-body" [href]="certification.validationUrl" target="_blank">
                <p class="m-0 fw-bold">{{ certification.title }}</p>
                <small>{{ certification.issuer }} - {{ certification.id }}</small>
              </a>
            </div>
          </div>
        }
      </curriculum-vitae-content-block>
      <hr>
    </div>
  </div>
</main>
